<header class="main-header">

    <!-- Logo -->
    <a href='javascript:void(0)' ng-click="$state.go('app.dashboard')" class="logo" style ="background-color: #fff;">
      <!-- mini logo for sidebar mini 50x50 pixels -->

      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
        <img src="images/bloackchin.png" width="100%">
      </span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="pull-right">
        <img src="images/user_logo.png" class="user-image" alt="User Image" width="46px">
      </div>
      
    </nav>
  </header>
