<section class="sidebar">

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style ="color:#b8c7ce;">MAIN NAVIGATION</li>
        <li>
          <a href='javascript:void(0)' ng-click="dashboard()">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href='javascript:void(0)' ng-click="wallet()">
            <i class="fa fa-google-wallet"></i> <span>Wallet</span>
          </a>
        </li>
        <li>
          <a  href='javascript:void(0)' ng-click="sendbitcoin()">
            <i class="fa fa-paper-plane"></i> <span>Send Bitcone</span>
          </a>
        </li>
        <li>
          <a  href='#' ng-click="logout()">
            <i class="fa fa-sign-out"></i> <span>Logout</span>
          </a>
        </li>

      </ul>
    </section>
