<div class='_contents'>
<div class="box box-info" ng-init='init();'>
  <div class="box-header with-border">
    <h3 class="box-title" style=''><b>Dashboard</b></h3>

    <!-- <button class="btn btn-default pull-right" data-toggle="modal" data-target="#update_time_slot" ng-click ='update_edit_timeslot_modal_data();'><i class="fa fa-pencil-square-o"></i> Edit Time-slot</button> -->
  </div><!-- /.box-header -->
  <!-- form start -->
  <div class="form-horizontal">
    <div class="box-body">
      <ol>
        <li>Login </li>
        <li>signup </li>
        <li>make transtionc </li>
      </ol>


    </div><!-- /.box-body -->
  </div>
</div>
</div>
