<div class='_contents'>
<div class="box box-info" ng-init='init();'>
  <div class="box-header with-border">
    <h3 class="box-title" style=''><b>Send BitCoin</b></h3>

    <!-- <button class="btn btn-default pull-right" data-toggle="modal" data-target="#update_time_slot" ng-click ='update_edit_timeslot_modal_data();'><i class="fa fa-pencil-square-o"></i> Edit Time-slot</button> -->
  </div><!-- /.box-header -->
  <!-- form start -->
  <div class="form-horizontal">
    <div class="box-body">
      <div class="col-lg-12 well">
         <div class="row">
				       <form>
      					<div class="col-sm-12">

      					<div class="form-group">
      						<label>Senders Public Address</label>
      						<input type="text" placeholder="Enter Senders Public Address Here.." class="form-control" ng-model="send.sender_public_address">
      					</div>
      					<div class="form-group">
      						<label>Confirm Senders Public Address</label>
      						<input type="text" placeholder="Enter Confirm Senders Public Address Here.." class="form-control" ng-model="send.confirm_sender_public_address">
      					</div>
      					<div class="form-group">
      						<label>Amount</label>
      						<input type="text" placeholder="Enter number of bitcone to send" class="form-control" ng-model="send.amount">
      					</div>

      						<button type="button" class="button_css btn btn-success" ng-click="sendCoin()">Send</button>
                  <div class="pull-right">
                    <span class="text-danger">  {{ error }}</span>
                    <span class="text-success">{{ success }} </span>

                  </div>
      					</div>
      				</form>
				  </div>
       </div>


    </div><!-- /.box-body -->
  </div>
</div>
</div>
