<div class='_contents'>
<div class="box box-info" ng-init='init();'>
  <div class="box-header with-border">
    <h3 class="box-title" style=''><b>Wallet</b></h3>

    <!-- <button class="btn btn-default pull-right" data-toggle="modal" data-target="#update_time_slot" ng-click ='update_edit_timeslot_modal_data();'><i class="fa fa-pencil-square-o"></i> Edit Time-slot</button> -->
  </div><!-- /.box-header -->
  <!-- form start -->
  <div class="form-horizontal">
    <div class="box-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Date</th>
            <th>Send / Recevied</th>
            <th>Balance</th>
            <th>Trasaction</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>  
            <td>2017-12-28 17:46:38</td>
            <td>	+0.98978583 	</td>
            <td>	1.49003862 		</td>
            <td>	1bf300706edfd497772 </td>
          </tr>
          <tr>
            <td>1</td>
            <td>2017-12-28 17:46:38</td>
            <td>	+0.98978583 	</td>
            <td>	1.49003862 		</td>
            <td>	1bf300706edfd497772 </td>
          </tr>
          <tr>
            <td>1</td>
            <td>2017-12-28 17:46:38</td>
            <td>	+0.98978583 	</td>
            <td>	1.49003862 		</td>
            <td>	1bf300706edfd497772 </td>
          </tr>
          <tr>
            <td>1</td>
            <td>2017-12-28 17:46:38</td>
            <td>	+0.98978583 	</td>
            <td>	1.49003862 		</td>
            <td>	1bf300706edfd497772 </td>
          </tr>
          <tr>
            <td>1</td>
            <td>2017-12-28 17:46:38</td>
            <td>	+0.98978583 	</td>
            <td>	1.49003862 		</td>
            <td>	1bf300706edfd497772 </td>
          </tr>
          <tr>
            <td>1</td>
            <td>2017-12-28 17:46:38</td>
            <td>	+0.98978583 	</td>
            <td>	1.49003862 		</td>
            <td>	1bf300706edfd497772 </td>
          </tr>

        </tbody>
    </table>

    </div><!-- /.box-body -->
  </div>
</div>
</div>
