<div class='_contents'>
<div class="box box-info" ng-init='init();'>
  <div class="box-header with-border">
    <h3 class="box-title" style=''><b>Wallet</b></h3>

    <!-- <button class="btn btn-default pull-right" data-toggle="modal" data-target="#update_time_slot" ng-click ='update_edit_timeslot_modal_data();'><i class="fa fa-pencil-square-o"></i> Edit Time-slot</button> -->
  </div><!-- /.box-header -->
  <!-- form start -->
  <div class="form-horizontal">
    <div class="box-body">
      <table class="table table-striped">
        <thead>
          <tr >
            <th>S.No</th>
            <th>Date</th>
            <th>Send / Recevied</th>

            <th>Trasaction</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(index, wallet) in wallet_data" >
            <td>{{index+1 }}</td>
            <td> {{ wallet.createdAt | date:'medium' }}</td>

            <td ng-show="wallet.receiver_public_key == auth_user.public_key">	+ {{ wallet.amount }}	</td>
            <td ng-show="wallet.sender_public_key == auth_user.public_key">	- {{ wallet.amount }}	</td>
            

            <td>	{{ wallet.unique_id }} </td>
          </tr>

        </tbody>
    </table>

    </div><!-- /.box-body -->
  </div>
</div>
</div>
